/* ---------------------------------header----------------------------------------- */
header {
    width:100%; height:70px;
    background:rgba(18, 14, 56, 0.99);
    display:flex; gap:100px; align-items:center; justify-content:space-between;
    position:relative;
}
header #logo {margin-left:30px;}
header #logo a {}
header #logo a img {display:block;}
header #gnb {
    width:max-content;
    height:100%;
}
header #gnb .show_gnb {
    display:flex;
    height:100%;
}
header #gnb .show_gnb > li {
    display:flex; align-items:center; 
    height:100%;
    position:relative;
}
header #gnb .show_gnb > li > a {
    font-size:1.375rem;
    font-weight:600;
    color:#fff;
    padding:0 50px;
}
header #gnb .show_gnb > li .depth {
    width:100%;
    position:absolute; top:100px; left:0;
    text-align:center;
    display:flex; flex-flow:column nowrap; gap:20px;
    z-index:999;
    display:none;
}
header #gnb .show_gnb > li .depth > li {width:100%;}
header #gnb .show_gnb > li .depth > li a {
    font-size:1.125rem;
    color:#fff;
}
header .game_start_btn {height:100%;}
header .game_start_btn button {
    width:249px;
    padding:0 50px;
    display:block; height:100%;
    background:#FA5AA8;
    color:#fff;
    /* 게임스타트 초기 숨기기 */
    opacity:0;
    pointer-events:none;
}
header .depth_bg {
    width:100%; height:230px;
    position:absolute; top:70px; left:0; z-index:0;
    background:#120E38;
    display:none;
}
/* ---------------------------------main----------------------------------------- */
main {}
/* --------------------1행 배너------------------------ */
main .banner_container {position:relative;}
main .banner_container .swiper {}
main .banner_container .swiper .swiper-wrapper {}
main .banner_container .swiper .swiper-wrapper .swiper-slide {}
main .banner_container .swiper .swiper-wrapper .swiper-slide a {width:100%; height:700px;}
main .banner_container .swiper .swiper-wrapper .swiper-slide a img {display:block; width:100%; height:100%;}
main .banner_container .swiper .swiper_btn_wrap {
    display:flex; flex-flow:row nowrap; justify-content:center; align-items:center;
    width:100%; height:50px;
    gap:0px;
    position:absolute; bottom:30px;
}
main .banner_container .swiper .swiper_btn_wrap .swiper_arrow_wrap {
    height:100%; z-index:999;
    display:flex; flex-flow:row nowrap;
    position:relative;
    width:80px;
}
main .banner_container .swiper .swiper_btn_wrap .swiper_arrow_wrap .swiper-button-prev {
    height:max-content;
    left:0; top:33px;
}
main .banner_container .swiper .swiper_btn_wrap .swiper_arrow_wrap .swiper-button-next {
    height:max-content;
    right:0; top:33px;
}
main .banner_container .swiper .swiper_btn_wrap .swiper_arrow_wrap .swiper-button-prev img {
    display:block; object-fit:contain;
    width:30px; height:30px;
}
main .banner_container .swiper .swiper_btn_wrap .swiper_arrow_wrap .swiper-button-next img {
    display:block;
    width:30px; height:30px;
}
main .banner_container .swiper .swiper_btn_wrap .swiper_arrow_wrap .swiper-button-prev svg {display:none;}
main .banner_container .swiper .swiper_btn_wrap .swiper_arrow_wrap .swiper-button-next svg {display:none;}
main .banner_container .swiper .swiper_btn_wrap .swiper-pagination {
    position:static !important;
    width:max-content;
}
main .banner_container .swiper .swiper_btn_wrap .swiper-pagination span {
    width:20px;
    height:20px;
}
main .banner_container .swiper .swiper_btn_wrap .swiper-pagination span.swiper-pagination-bullet {
    background:#000;
}
main .banner_container .swiper .swiper_btn_wrap .swiper-pagination span.swiper-pagination-bullet-active {
    background:#FA5AA8;
}
/* --------------------2행 공지사항 등------------------------ */
/* 공지사항 */
main .game_info_container {
    max-width:1420px;
    margin:0 auto; padding:100px 0;
    display:flex; flex-flow:row nowrap; justify-content:space-between;
}
main .game_info_container .notice_wrap {
    display:flex; flex-flow:column nowrap; justify-content:space-between;
}
main .game_info_container .notice_wrap .notice_title {
    display:flex; flex-flow:row nowrap; align-items:center; gap:20px;
}
main .game_info_container .notice_wrap .notice_title p {
    font-size:2.25rem;
    font-weight:500;
}
main .game_info_container .notice_wrap .notice_title a {}
main .game_info_container .notice_wrap .notice_title a img {display:block;}
main .game_info_container .notice_wrap .notice_list_wrap {
    margin:30px 0;
    display:flex; flex-flow:column nowrap; gap:30px;
}
main .game_info_container .notice_wrap .notice_list_wrap .notice_list {
    display:flex; flex-flow:row nowrap; gap:20px; align-items:center;
}
main .game_info_container .notice_wrap .notice_list_wrap .notice_list .notice_cate {
    font-size:0.875rem;
    font-weight:500;
    color:#FA5AA8;
    padding:5px 15px;
    border:1px solid #FA5AA8; border-radius:20px;
}
main .game_info_container .notice_wrap .notice_list_wrap .notice_list .notice_content {
    font-size:1.125rem;
}
main .game_info_container .notice_wrap .notice_list_wrap .notice_list .notice_day {
    display:flex; gap:5px;
    font-size:0.875rem;
    color:#999999;
}
main .game_info_container .notice_wrap a {display:block;}
main .game_info_container .notice_wrap a img {display:block;}
main .game_info_container .notice_wrap .notice_list_wrap .notice_list .notice_day img {display:block;}
/* 뉴스타일 */
main .new_style_wrap {
    display:flex; flex-flow:column nowrap; justify-content:space-between;
}
main .new_style_wrap .new_style_title {
    display:flex; flex-flow:row nowrap; align-items:center; gap:20px;
    margin-bottom:30px;
}
main .new_style_wrap .new_style_title p {
    font-size:2.25rem;
    font-weight:500;
}
main .new_style_wrap .new_style_title a {}
main .new_style_wrap .new_style_title a img {display:block;}
main .new_style_wrap .new_style_photo {}
main .new_style_wrap .new_style_photo .new_style_small {
    display:flex; flex-flow:row nowrap; justify-content:space-between;
    margin-bottom:20px;
}
main .new_style_wrap .new_style_photo .new_style_small button {}
main .new_style_wrap .new_style_photo .new_style_small button img {display:block;}
main .new_style_wrap .new_style_photo .new_style_big {position:relative;}
main .new_style_wrap .new_style_photo .new_style_big p {}
main .new_style_wrap .new_style_photo .new_style_big p img {display:block;}
main .new_style_wrap .new_style_photo .new_style_big a {
    position:absolute;
    bottom:20px; left:50%; transform:translateX(-50%);
}
main .new_style_wrap .new_style_photo .new_style_big a img {display:block;}
/* 게임시작 */
main .game_start_wrap {}
main .game_start_wrap .game_start_btn {position:relative;}
main .game_start_wrap .game_start_btn button {}
main .game_start_wrap .game_start_btn button img {}
main .game_start_wrap .game_start_btn .game_download {
    display:flex; gap:5px;
    padding:5px 20px;
    background:#FFE455;
    border-radius:20px;
    position:absolute;
    bottom:20px; left:50%; transform:translateX(-50%);
}
main .game_start_wrap .game_start_btn .game_download img {display:block;}
main .game_start_wrap .my_info_wrap {
    max-width:400px;
    background:#5A5493;
    padding:70px 50px;
    border-radius:30px;
    margin-top:-25px;
}
main .game_start_wrap .my_info_wrap .my_set {
    display:flex; flex-flow:row nowrap; align-items:center; gap:30px;
    margin-bottom:40px;
}
main .game_start_wrap .my_info_wrap .my_set .character {}
main .game_start_wrap .my_info_wrap .my_set .character img {}
main .game_start_wrap .my_info_wrap .my_set .my_info_correction {
    display:flex; flex-flow:column nowrap; gap:10px;
}
main .game_start_wrap .my_info_wrap .my_set .my_info_correction p {color:#fff;}
main .game_start_wrap .my_info_wrap .my_level_wrap {
    background:#302B60;
    padding:30px;
    border-radius:30px;
}
main .game_start_wrap .my_info_wrap .my_level_wrap .my_lv_name {
    display:flex; justify-content:space-between;
}
main .game_start_wrap .my_info_wrap .my_level_wrap .my_lv_name .level {color:#fff;}
main .game_start_wrap .my_info_wrap .my_level_wrap .my_lv_name .nick_name {color:#fff;}
main .game_start_wrap .my_info_wrap .my_level_wrap .my_lv_name .job {color:#fff;}
main .game_start_wrap .my_info_wrap .my_level_wrap .my_cash_wrap {
    display:flex; justify-content:space-between;
    margin:10px 0; 
}
main .game_start_wrap .my_info_wrap .my_level_wrap .my_cash_wrap .my_cash {color:#fff;}
main .game_start_wrap .my_info_wrap .my_level_wrap .my_cash_wrap .cash {color:#fff;}
main .game_start_wrap .my_info_wrap .my_level_wrap .my_cash_wrap a {
    padding:5px 15px;
    background:#FFE455;
    border-radius:20px;
}
main .game_start_wrap .my_info_wrap .my_level_wrap .logout {
    display:flex; justify-content:center;
}
main .game_start_wrap .my_info_wrap .my_level_wrap .logout a {
    width:max-content;
    padding:5px 20px;
    background:#F64F87;
    border-radius:20px;
    color:#fff;
}
/* --------------------3행 라테일 추천영상------------------------ */
main .latale_video_container {background:#f8f8f8; padding:100px 0;}
main .latale_video_container .latale_video {
    max-width:1420px;
    margin:0 auto;
}
main .latale_video_container .latale_video h2 {
    font-size:2.25rem;
    font-weight:500;
}
main .latale_video_container .latale_video .latale_video_list {
    margin-top:30px;
}
main .latale_video_container .latale_video .latale_video_list .swiper {
    height:350px;
}
main .latale_video_container .latale_video .latale_video_list .swiper .swiper-wrapper {}
main .latale_video_container .latale_video .latale_video_list .swiper .swiper-wrapper .swiper-slide {
    display:flex; flex-flow:row nowrap; justify-content:start; gap:73px;
}
main .latale_video_container .latale_video .latale_video_list .swiper .swiper-wrapper .swiper-slide:last-child {}
main .latale_video_container .latale_video .latale_video_list .swiper .swiper-wrapper .swiper-slide .video_wrap {
    display:flex; flex-flow:column nowrap; gap:20px;
}
main .latale_video_container .latale_video .latale_video_list .swiper .swiper-wrapper .swiper-slide .video_wrap .video_thum {}
main .latale_video_container .latale_video .latale_video_list .swiper .swiper-wrapper .swiper-slide .video_wrap .video_thum img {display:block;}
main .latale_video_container .latale_video .latale_video_list .swiper .swiper-wrapper .swiper-slide .video_wrap .video_content {
    display:flex; flex-flow:column nowrap; justify-content:space-between;
    height:100%;
}
main .latale_video_container .latale_video .latale_video_list .swiper .swiper-wrapper .swiper-slide .video_wrap .video_content .video_name {
    font-size:1.125rem;
    font-weight:500;
}
main .latale_video_container .latale_video .latale_video_list .swiper .swiper-wrapper .swiper-slide .video_wrap .video_content .video_writer {
    padding-top:20px;
    border-top:1px solid #000;
}
main .latale_video_container .latale_video .latale_video_list .swiper_btn_wrap {
    display:flex; flex-flow:row nowrap;
    justify-content:center; align-items:center; gap:20px;
     width:100%; height:100px;
}
main .latale_video_container .latale_video .latale_video_list .swiper_btn_wrap .swiper-scrollbar {
    position:static !important;
    width:1000px; height:10px;
}
main .latale_video_container .latale_video .latale_video_list .swiper_btn_wrap .swiper-scrollbar-drag {
    background:#FFE455;
}
main .latale_video_container .latale_video .latale_video_list .swiper_btn_wrap .swiper-button-prev {
    position:static !important;
    transform:translateY(25%);
    width:30px; height:30px;
}
main .latale_video_container .latale_video .latale_video_list .swiper_btn_wrap .swiper-button-next {
    position:static !important;
    transform:translateY(25%);
    width:30px; height:30px;
}
main .latale_video_container .latale_video .latale_video_list .swiper_btn_wrap .swiper-button-prev img {display:block; width:100%;}
main .latale_video_container .latale_video .latale_video_list .swiper_btn_wrap .swiper-button-next img {display:block; width:100%;}
main .latale_video_container .latale_video .latale_video_list .swiper_btn_wrap .swiper-button-prev svg {display:none;}
main .latale_video_container .latale_video .latale_video_list .swiper_btn_wrap .swiper-button-next svg {display:none;}
/* ---------------------------------footer----------------------------------------- */